var common = {

    //类型图标
    typeIcon: function (name) {
        switch (name) {
            case '餐饮': return { icon: 'icon-1.png', color: '#FFAFA9' }; break;
            case '萌宠': return { icon: 'icon-2.png', color: '#CACACA' }; break;
            case '宝贝': return { icon: 'icon-3.png', color: '#937773' }; break;
            case '出行': return { icon: 'icon-4.png', color: '#FA746A' }; break;
            case '居家': return { icon: 'icon-5.png', color: '#87C05A' }; break;
            case '娱乐': return { icon: 'icon-6.png', color: '#49B7EA' }; break;
            case '衣装': return { icon: 'icon-7.png', color: '#A3D9BD' }; break;
            case '社交': return { icon: 'icon-8.png', color: '#FF5252' }; break;
            case '还款': return { icon: 'icon-9.png', color: '#A3D4FF' }; break;
            case '其他': return { icon: 'icon-10.png', color: '#FEF001' }; break;
            default: return ""; break;
        }
    },

    // 合同列表按钮文字显示

    contractStatusedBtn: function (_num) {
        switch (_num) {
            case 5: return "去申请"; break;
            case 4: return "接合同"; break;
            default: return ""; break;
        }
    },

    // 我的提交列表状态

    recordStatused: function (_num) {
        switch (_num) {
            case 0: return { text: "已取消", color: 'gray' }; break;
            case 1: return { text: "待审核", color: 'orange' }; break;
            case 2: return { text: "已确认", color: 'cyan' }; break;
            case 3: return { text: "已拒绝", color: 'red' }; break;
            case 4: return { text: "归档中", color: 'cyan' }; break;
            case 5: return { text: "已归档", color: 'cyan' }; break;
            default: return ""; break;
        }
    },

    // 图片转数组

    imageHttp: function (_str) {
        var list = []
        if (_str) list = _str.split(",")
        return list
    },

    // 我的排款单状态

    billStatused: function (_num) {
        switch (_num) {
            case 0: return { text: "未使用", color: 'cyan' }; break;
            case 1: return { text: "已使用", color: 'gray' }; break;
            default: return ""; break;
        }
    },


    // 我的记录状态

    myRecordStatused: function (_month) {
        if (_month == undefined){
            return { text: "未提交", color: 'orange', status: 0 };
        }else{
            return { text: "已提交", color: 'cyan', status: 1  }
        }
    },
}

module.exports = {
    typeIcon: common.typeIcon,
    contractBtn: common.contractStatusedBtn,
    recordStatus: common.recordStatused,
    billStatus: common.billStatused,
    imageHttp: common.imageHttp,
    myRecordStatus: common.myRecordStatused
}