var common = {

    //类型图标
    typeIcon: function (name) {
        switch (name) {
            case '餐饮': return { icon: 'icon-1.png', color: '#FFAFA9' }; break;
            case '萌宠': return { icon: 'icon-2.png', color: '#CACACA' }; break;
            case '宝贝': return { icon: 'icon-3.png', color: '#937773' }; break;
            case '出行': return { icon: 'icon-4.png', color: '#FA746A' }; break;
            case '居家': return { icon: 'icon-5.png', color: '#87C05A' }; break;
            case '娱乐': return { icon: 'icon-6.png', color: '#49B7EA' }; break;
            case '衣装': return { icon: 'icon-7.png', color: '#A3D9BD' }; break;
            case '社交': return { icon: 'icon-8.png', color: '#FF5252' }; break;
            case '转账': return { icon: 'icon-9.png', color: '#A3D4FF' }; break;
            case '其他': return { icon: 'icon-10.png', color: '#FEF001' }; break;
            default: return ""; break;
        }
    },

  //计算百分比
  div: function(num1, num2){
    var t1, t2, r1, r2;
    try {
      t1 = num1.toString().split('.')[1].length;
    } catch (e) {
      t1 = 0;
    }
    try {
      t2 = num2.toString().split(".")[1].length;
    } catch (e) {
      t2 = 0;
    }
    r1 = Number(num1.toString().replace(".", ""));
    r2 = Number(num2.toString().replace(".", ""));
    return (r1 / r2) * Math.pow(10, t2 - t1);
  },


}

module.exports = {
    typeIcon: common.typeIcon,
    div: common.div
}